.app-name{font-family: 'Lobster', cursive;}

*{width:100%; font-family: 'Roboto Slab', serif;} 
.main-container{padding: 10% 5%;}
.mb-10{margin-bottom: 10%;}
.mb-5{margin-top: 5%;}
.mb-20{margin-bottom: 20%;}
.modal-backdrop.in {opacity: 0 !important;}