<div class="container text-center main-container">
  <div class="container mb-10">
      <h1 class="app-name">Doingly</h1>
  </div>

  <div class="container mb-20"><img src="../assets/7495401-removebg-preview.png" class="app-main-img"></div>
  
  <div class="container mb-10">
      <h3 class="mb-10"><b>Welcome To Doingly</b></h3>
      <p>Doingly will help you to stay organized and perform your tasks much faster.</p>
  </div>

  <div class="container">
      <button type="submit" class="btn-lg btn-danger" routerLink="/list">Get Started</button>
  </div>
</div>